<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<footer class="footer">
  <div class="wrapper">
    <div class="footer-navigation">
        <div class="footer-links">
            <nav class="metabar-nav">
                <ul class="nav">
                    <li class="nav-link">
                        <a href="http://blog.csdn.net/guolin_blog" target="_blank">郭霖</a>
                    </li>
                    <li class="nav-link">
                        <a href="http://blog.csdn.net/lmj623565791" target="_blank">鸿洋</a>
                    </li>
                    <li class="nav-link">
                        <a href="http://blog.csdn.net/singwhatiwanna" target="_blank">任玉刚</a>
                    </li>
                    <li class="nav-link">
                        <a href="https://blog.csdn.net/Luoshengyang" target="_blank">老罗的Android之旅</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    Copyright © {{ site.copyright.name }} {{ site.copyright.year }}
  </div>
</footer>
