/* Post Typography */

/*--------------
  Body
  -------------- */

body {
  font: $base-font;
  font-size: $base-font-size;
  font-weight: 400;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 38rem) {
    font-size: $mobile-font-size;
  }
}

.post-item .article-title {
  display: inline-block;
  width: 85%;
}

.pull-right, .post-item .date-label {
  float: right;
}

.post-item a {
  color: #000;
}

.post a {
  color: #0069D6;
}

@media (max-width: 600px) {
  .date-label {
    float: left !important;
    border: 0 !important;
    margin-left: -2px !important;
  }

  .post-item {
    border: 1px solid #e6e6e6;
    padding: 0 0.5em;
    background: #f2f2f2;
  }

  .article-title {
    border-bottom: none !important;
  }

  .post-link:hover, .post-link:focus, .post-link:active {
    border-bottom: 2px solid transparent;
    color: #0086B3
  }
}

.post-meta {
  color: #999;
  display: inline-block;
  letter-spacing: 1px;
  font-size: .875rem;
}

p.lead {
  font-size: 1.375rem;
  font-weight: 300;
}

.site-header {
  margin-bottom: .75em;
  min-height: 80px;
}

.logo {
  float: left;
  margin: 0 0 1em 0;
  cursor: pointer;
  letter-spacing: 0.8px;
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
}

.header-nav {
  float: right;
  margin: 0;
  position: relative;
  padding-top: 0.3em;
  pointer-events: all;
  cursor: pointer;
}

.nav-open,
.nav-close {
  display: none;
}

@media (max-width: 35.9375em) {
  .nav-close, .nav-open {
    color: #868e96;
    font-family: Overpass, Arial, sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .25px;
    line-height: 1.5;
    display: block;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 35.9375em) {
  .metabar-nav.open {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 35.9375em) {
  .metabar-nav .nav {
    position: absolute;
    top: 50%;
    width: -webkit-calc(100% - 4rem);
    width: calc(100% - 4rem);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }
}

.nav-link {
  color: #868e96;
  font-family: Overpass, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: .25px;
}

@media (min-width: 36em) {
  .metabar-nav .nav-link {
    display: inline-block;
    margin-left: 2rem;
    padding: 0;
  }
}

@media (max-width: 35.9375em) {
  .metabar-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem 1rem 2rem 1rem;
    -webkit-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);
    -webkit-transition: opacity .3s cubic-bezier(0, 0, .2, 1), visibility .3s cubic-bezier(0, 0, .2, 1), -webkit-transform .3s cubic-bezier(0, 0, .2, 1);
    transition: opacity .3s cubic-bezier(0, 0, .2, 1), visibility .3s cubic-bezier(0, 0, .2, 1), -webkit-transform .3s cubic-bezier(0, 0, .2, 1);
    transition: transform .3s cubic-bezier(0, 0, .2, 1), opacity .3s cubic-bezier(0, 0, .2, 1), visibility .3s cubic-bezier(0, 0, .2, 1);
    transition: transform .3s cubic-bezier(0, 0, .2, 1), opacity .3s cubic-bezier(0, 0, .2, 1), visibility .3s cubic-bezier(0, 0, .2, 1), -webkit-transform .3s cubic-bezier(0, 0, .2, 1);
    background-color: hsla(0, 0%, 100%, .95);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
}

@media (max-width: 35.9375em) {
  .metabar-nav .nav-close {
    float: right;
  }
}

.metabar-wrapper {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;


  @media (max-width: 40rem) {
    padding: 1rem 0 1rem 0;
  }
}

@media (min-width: 48.0625em) {
  .metabar-wrapper {
    padding-top: 60px;
  }
}

@media (max-width: 35.9375em) {
  .metabar-nav .nav-link {
    color: #343a40;
    font-size: 2.441406rem;
    font-weight: 800;
    line-height: 1.4;
    display: block;
    margin: 1rem 0;
  }
}

@media (max-width: 35.9375em) {
  .metabar-nav .nav-link a {
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0 90%, 100% 90%, 0 90%;
    background-size: .05em 1px, .05em 1px, 1px 1px;
  }
}

.metabar {
  display: block;
  width: 100vw;
  max-width: 100%;
  clear: both;
  position: relative;
  background-color: transparent;
  box-shadow: 0 0 1px 0 transparent;
  z-index: 2;
}

.metabar-left {
  float: left;
  line-height: 1;
}

.metabar-right {
  float: right;
}

.metabar-title {
  -webkit-transition: color .15s cubic-bezier(0, 0, .2, 1);
  transition: color .15s cubic-bezier(0, 0, .2, 1);
  color: #212529;
  font-family: Overpass, Arial, sans-serif;
  font-size: 25px;
  font-weight: 800;
  vertical-align: middle;
}

.metabar-spacer {
  display: inline-block;
  width: 2px;
  height: 25px;
  margin-right: 11px;
  margin-left: 13px;
  background-color: #dee2e6;
  vertical-align: middle;
}

/*--------------
  Link
  -------------- */
a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


/*--------------
  Header
  -------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.4em;
}

h2 {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.43em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
  color: $oc-gray-6;
}

/*--------------
  Body Text
  -------------- */

p {
  margin: 0 0 1rem;
  line-height: 1.7em;
}

/*--------------
  Lists
  -------------- */
ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style-image: none;
}

//  Positioning Bullets
ol,
ul {
  > li {
    &:before {
      position: absolute;
      width: $li-bullets-width;
      margin-left: -$li-bullets-width;
      display: inline-block;
      box-sizing: border-box;
      text-align: right;
    }
  }
}

//  Refine Spacing
ol,
ul {
  > li {
    margin: 0 auto $li-bottom-space $li-bullets-width;
    line-height: $li-line-height;

    > ol,
    > ul {
      margin-top: $li-bottom-space;
    }
  }
}

li {
  > ol,
  > ul {
    > li {
      font-size: ($li-child-size-ratio * 1em);
      margin: 0 auto ($li-bottom-space * $li-child-size-ratio) ($li-bullets-width * $li-child-size-ratio);
    }
  }
}

dt {
  float: left;
  width: $dt-width;
  overflow: auto;
  clear: left;
  text-align: right;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: $li-bottom-space;

  @media (max-width: 38rem) {
    width: 120px;
  }
}

dd {
  margin-left: $dd-position;
  margin-bottom: $li-bottom-space;

  @media (max-width: 38rem) {
    margin-left: 140px;
  }
}

/*--------------
  
  -------------- */

hr {
  border: 0;
  border-top: 1px solid $divider-color;
  margin: 1.5rem auto;
}

strong {
  color: #333;
  font-weight: 600;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

blockquote {
  padding: 1rem;
  margin: 0 0 1rem 0;
  color: #6a737d;
  border-left: .25rem solid #dfe2e5;

  p:last-child {
    margin-bottom: 0;
  }
}

/*--------------
  Footnote
  -------------- */

a.footnote {
  &,
  .post p &,
  .post ol &,
  .post ul & {
    margin: 0 3px;
    padding: 2px 6px 2px;
    font-size: $base-font-size-sm;
    text-align: center;
    -webkit-text-stroke: 0.25px;
    border: 1px solid $divider-color;
    border-radius: 2px;
    -webkit-transition: 0.2s ease-out all;
    text-decoration: none;

    &:hover {
      background: $background-over-color;
    }
  }
}

.footnotes {
  margin: 4rem 0;
  padding: 2rem 1em;
  border-top: 1px solid $divider-color;
  font-size: $base-font-size-sm;
}

/*--------------
  Code Snippet
  -------------- */

code,
pre {
  font-family: $code-font;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  background-color: $code-background-color;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 1.4;
  white-space: pre;
  overflow: auto;
  background-color: $code-background-color;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.highlight pre {
  margin-bottom: 0;
}

/*--------------
  gist
  -------------- */

.gist .gist-file {
  font-family: $code-gist-font;
}

.gist .markdown-body {
  padding: 15px;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/*--------------
  Image
  -------------- */

img {
  display: block;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
}

/*--------------
  Table
  -------------- */

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $table-border-color;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $table-background-color;
}

/*--------------
  Alignment
  -------------- */

.center {
  text-align: center;

  &-image {
    margin: 0 auto;
    display: block;
  }
}

.right {
  text-align: right
}
