---
layout: default
---
<div class="page">
  <h1>{{ page.title }}</h1>
  <div class="post-date">
    {{ page.date | date: '%Y年%m月%d日' }} 字数 {{ page.content | strip_html | strip_newlines | remove: " " | size }}
     预计阅读时间 {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} 分钟
    </div>
    <div class="post-tag">
        <ul>
            {% for tag in page.tags %}
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                    <span>{{ tag }}</span>
                </a>
            </li>
            {% unless forloop.last %}{% endunless %}
            {% endfor %}
        </ul>
    </div>
    {{ content }}
    <!--
    <hr>
    <div class="comment"></div>
    <script>
        new Valine({
            // AV 对象来自上面引入av-min.js(老司机们不要开车➳♡゛扎心了老铁)
            av: AV,
            el: '.comment', //
            app_id: 'ox8SrmOHTcTKRcdkXjx1ViaN-gzGzoHsz', // 这里填写上面得到的APP ID
            app_key: '8vnBKUOjehYPThhUstedQf6a', // 这里填写上面得到的APP KEY
            placeholder: '想对作者说点什么' // [v1.0.7 new]留言框占位提示文字
        });
    </script>
    -->
</div>
